__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.pid
.env
.env.*
.DS_Store
.git
.gitignore
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
instance/
.idea/
.vscode/
/tests/
migrations/versions/__pycache__/
*/__pycache__/
